*{
    box-sizing: border-box;
}

body{
    background-color: #3B94D9;
    color: #05386B;
}

li{
    list-style: none;
    padding-bottom: .5rem;

}

ul{
    padding: 0;
}




 .topInfo{
     padding-left: 2rem;
 }

 #map{
     height:40rem;
     width:100rem;
     margin-top: 5rem;
     border: solid black 10px;
     border-radius: 1rem;
 }
 .search{
     margin-top: 1rem;
 }

 button{
     background-color: #05386B;
     color: whitesmoke;
     border-radius: 10%;
 }

 .card{
     margin: 1rem;
     border: black solid  5px;
     border-radius: 1rem;
     width: 18rem;
     height:8rem;
 }

 .Card1 .Card2 .Card3 .Card4 .Card5{
     visibility: hidden;
     padding-left: 2rem;
 }

 .card-text{
     visibility: hidden;
 }

 .TempC{
     padding-bottom: 10rem;
 }
 .header{
     background-color: whitesmoke;
     width:10%;
     border: #05386B solid  4px;
     border-radius: 1rem;
     padding-left: 10px;
 }