*{
    box-sizing: border-box;
}

body{
    background-image: url(../Images/hd-clouds-png-transparent-background-clouds-png-free-unlimited-cloud-background-png-1921_712.png), url(../Images/black-cloud.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin: 0;
    padding:0;
    background-color: #79c7c5;
    color: black;
}

li{
    list-style: none;
    padding-bottom: .5rem;

}

.Main{
    /*background-color:#99d19c;*/

}






 .dataBox{
     background-color: rgba(225,225,225,0.6);
     border: solid black 5px;
     border-radius: 1rem;
     margin-top: 1rem;
     margin-bottom: 1rem;

 }

 .lastRow{
     background-color: rgba(115,171,132,0.3);
 }

 #map{
     height:50rem;
     width:70vw;
     margin: 0 !important;
     border: solid black 10px;
     border-radius: 1rem;
 }
 #input{
     width:40rem;
     height:3rem;
     border: solid black 5px;
     border-radius: 1rem;
     /*margin-right: auto;*/
     /*margin-top: 5rem;*/
 }

 button{
     background-color: #05386B;
     color: whitesmoke;
     border: solid black 5px;
     border-radius: 1rem;
     width:10rem;
     height:2.5rem;
 }


 .header{
     background-color: whitesmoke;
     width:20rem;
     height:7rem;
     border:black solid  4px;
     border-radius: 1rem;
     padding-left:10px;

 }

 #today{
     font-size: 28px;
     /*margin: 10px;*/
 }
 #currentTemp{
     font-size: 30px;
     margin:0;
 }

/*.weather{*/
/*    margin-right:5rem;*/
/*    margin-top: 40rem;*/
/*}*/

.Title{
    padding-left: 1rem;
}

#www{
    font-size: 80px;
    color: black !important;
}

.theButton{
    margin-top: .5rem;
}

.infoSource{
    margin-top:5rem !important;
    padding: 0;
    margin-right: 0 !important;
    margin-left: 0 !important;
}

footer{
    background-color: #73ab84;
    padding: 2rem;
    margin-top: 12rem;
}