body {
    margin: 0;
}
#main-info {
    /*width: auto;*/
    /*height: auto;*/
    /*margin: 0;*/

}
.fancy-header , h2, p {
    color: #EDf5E1;
    text-align: center;

    margin: 0;
    height: 100%;

}
.fancy-header {
    font-family: "Noto Sans";
    text-decoration: underline ;
}

section {
    font-family: "Noto Sans";
    color: #EDf5E1;
}

#theTable, table {
    margin-right: auto;
    margin-left: auto;
    background-color: #379683;
    position: center;
    text-align: center;
    padding: 0;
    /*border: 5px solid black;*/
}
table {
    border: 5px solid black;
    margin-top: 5px;
    background-color: black;
}
th {
    background-color: black;
    text-align: left;
    padding: 0;
    margin:0;
}
td{
    background-color:#EDf5E1;
    color: black;
    text-align: left;
    padding: 0;
    margin: 0;
}

#photo-back {
    background-color: #379683;
    background-image: url(../../Images/pngkey.com-texture-background-png-483820.png);
    background-repeat: repeat;
    background-position: initial;

}
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: auto;
    border: 15px solid black;

}


h2 {
    font-weight: bolder;
}

body {
    background-color: #5CDB95;
}

h2{
    background-color: #05386B;
    padding: 5px;
}

footer, header {
    background-color: #05386B;
    padding: 15px;
    /*background-color: #379683;*/

}

#last, a {

    text-align: center;
}

a:hover{
    color: yellow;
}
a:active{
    color:hotpink;
}

li {
    list-style: square;
}